/* This style is for paragraph */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body,
form,
input,
textarea {
    font-family: 'Lato', sans-serif;
}

span {
    display: block;
}

img {
    width: 100%;
}

p {
    line-height: 25px;
    font-size: 18px;
    color: #fff;
}

h2 {
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 27px;
}

.container {
    margin: 0 auto;
    padding: 10px;
}

.home-header {
    background: #fff url(../images/home/home1.png) no-repeat;
    padding: 20px;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 275px;
}

nav.header-navigation {
    margin-top: 20px;
    padding: 15px;
    margin: 10px;
}

nav.header-navigation a {
    font-size: 14px;
    text-decoration: none;
    margin: 13px;
    color: #ffffff;
}


/* Add your Banner here */

.banner {
    text-align: center;
    margin-bottom: 95px;
    margin-top: 20px;
    padding: 40px;
    font-size: 50px;
    color: #ffffff;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    letter-spacing: none;
}

.banner p {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    word-spacing: 3px;
    text-align: center;
    padding-inline: 100px;
}

/* Add your About Styles here*/
section.about-section {
    background: url(../images/home/home2.jpg);
    background-repeat: no-repeat;
    padding: 10px;
    background-size: cover;
    color: #fff;

}

#my-about {
    padding-left: 35px;
    margin-top: 35px;
}

.about-myself {
    display: flex;
    align-items: left;
}

.about-myself p {
    text-align: justify;
}

.about-myself iframe {
    margin-right: 20px;
    padding-inline: 30px;
    border: none;
    padding: 30px;
}

#par-intro {
    display: grid;
    text-align: justify;
    padding-inline: 40px;
    padding-top: 45px;
}

#iframeabout {
    display: grid;
}

/* Add your Skills Styles here*/
section#skills .col {
    font-size: 87px;
    color: #caa863ea;
    display: inline-block;
    width: 28%;

}

section#skills {
    background: url(../images/home/home3.jpg);
    color: #fff;
    background-size: cover;
    background-attachment: fixed;
    padding: 40px;
    font-family: 'Lato', sans-serif;
}

#bacskills {
    background: rgba(46, 43, 43, 0.719);
    padding: 20px;
}

/*Quote Secction*/

section.quote {
    padding: 90px 50px;
    text-align: center;
    background: #04151b;
    color: #fff;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 5px;

}


/* Contact Styles */
section#contact {
    background: url(../images/home/home4.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: block;
    font-family: 'Lato', sans-serif;
}

.form-container {
    text-align: right;
    color: #ffffff;
    padding: 30px;
}


input[type="text"]:focus-visible,
textarea:focus-visible {
    outline: #ffffff;
    padding: 20px;
    margin: 20px;

}

textarea#message {
    border: 1px solid #ffffff;
    border-radius: 15px;
    width: 60%;
    border-bottom: 1px solid #ffffff;
    background: none;

}

.input {
    border: 1px solid #ffffff;
    background: none;
    width: 60%;
    outline: none;
    border-radius: 20px;
    text-align: left;
}

input[type="submit"] {
    font-size: 18px;
    border: none;
    display: block;
    padding: 10px;
    background: #009191;
    border-radius: 40px;
    color: #fff;
    width: 20%;
    font-family: 'Lato' sans-serif;
}

.form {
    display: grid;
    justify-items: center;
    row-gap: 20px;
    background: rgba(46, 43, 43, 0.719);
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 5px;
}

.form label {
    font-size: 20px;
}

.break {
    width: 60%;
}

/*Footer Styles*/
footer,
a {
    color: #fff;
}

footer {
    background: #1a1a1a;
    padding: 20px;
}

section.footer-1 .col {
    vertical-align: top;
    color: #fff;
    font-size: 15px;
    display: inline-block;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 250px;
}

section.footer-1 .col ul li img {
    width: 100px;
    margin-top: 10px;
}

section.footer-1 .col ul li {
    list-style: none;
    display: inline-block;
    font-size: 30px;
}

.footer-1 form {
    width: 100%;
    margin-top: 24px;
}

.footer-1 input[type="button"] {
    margin-top: 0;
    font-size: 10px;
    padding: 10px 18px;
    border-radius: 25px;
    background-color: #009191;
    color: #fff;
    display: inherit;
}

.social-media-icon {
    margin-top: 10px;
}

.social-media-icon a {
    font-size: 45px;
    color: #ffffff;
}

.social-media-icon a:hover {
    color: #00c8a3;
}

.footer-1 input#email {
    border: 1px solid #fff;
    border-radius: 20px;
    margin-bottom: 12px;
    width: 220px;
    padding: 8px;
    display: inherit;
    background: none;
}

footer h3 {
    line-height: 25px;
    font-size: 20px;
}

span.copyright {
    margin-top: 20px;

}

/*Boostrap Caurosel*/

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    filter: blur(3px);
    background-size: cover;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.container-marketing {
    background: url('../images/about/about7.jpg') no-repeat;
    background-attachment: fixed;
    padding: 20px;
}

.caurosel-slide {
    margin-bottom: none;
}

.caurosel-inner img {
    width: 100%;
}
.col-md-5-order-md-1 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.col-md-5-order-md-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featurette-divider {
    margin: 5%;
}

.row-featurette {
    margin-left: 30px;
}



/*Boostrap Features*/

.features-section {
    background: url('../images/about/about23.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding-top: 5px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.col-d-flex {
    font-size: 40px;
    text-align: center;
}
.features-section h2{
    color:#ffffff;
}
.row-featurette h2 {
    color:#ffffff;
}
.lead-f{
    color:#ffffff;
}

/*Feature Icons*/

#icon-grid {
    color: #ffffff;
    font-family: 'Lato' sans-serif;
    margin-top: 40px;
}
/*Profile*/
.ph-100{
    padding-top: 35px;
    background: url('../images/Profile/profile2.jpg');
    background-attachment: fixed;
}
.font-italic{
    color: #fff;
}
.lead{
    color: black;
}
.socials{
    text-align: center;
    padding: 20px;
    background-color: #6c757d;
}
.socials a{
    width: 100px;
    padding: 10px;
}

/*Contact Boostrap*/

.bloc_left_price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}
.category_block li:hover {
    background-color: #007bff;
}
.category_block li:hover a {
    color: #ffffff;
}
.category_block li a {
    color: #343a40;
}
.add_to_cart_block .price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 0;
}
.add_to_cart_block .price_discounted {
    color: #343a40;
    text-align: center;
    text-decoration: line-through;
    font-size: 140%;
}
.product_rassurance {
    padding: 10px;
    margin-top: 15px;
    background: #ffffff;
    border: 1px solid #6c757d;
    color: #6c757d;
}
.product_rassurance .list-inline {
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
}
.product_rassurance .list-inline li:hover {
    color: #343a40;
}
.reviews_product .fa-star {
    color: gold;
}
.pagination {
    margin-top: 20px;
}
/*
footer {
    background: #343a40;
    padding: 40px;
}
footer a {
    color: #f8f9fa!important
}
*/
.contact-sec{
    background: url(../images/contact/contact1.jpg) no-repeat;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
    padding: 10%;
}
.card-body p{
    color: black;
}
.card{
    font-size: 20px;
}